.logo {
    margin-top: 25px;
    margin-left: 66.94px;
    height: 40.61px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
    color: #0A1B32;
    display: inline;
}

section {
    display: inline-block;
}

.logo-dot {
    color: #4F56F1;
}

.menu-item {
    display: inline;
}

.menu-right {
    float: right;

}

.menu-button 
{
    display: inline;
    max-width: 120px;
    width: 100%;
    height: 59.65px;
    margin-left: 1412.26px;
    margin-top: 30px;

    background: #4F56F1;
    border-radius: 6px;
}

nav {
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.main-title {
    margin-left: 192.94px;
    margin-top: 187px;
    max-width: 495px;
    width: 100%;
    Height: 152px;
    color: #1B0A42;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
}

.main-info {
    max-width: 538px;
    width: 100%;
    height: 106px;
    margin-left: 199.94px;
    margin-top: 10.29px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

.main-but {
    max-width: 152px;
    width: 100%;
    height: 63.82px;
    margin-Top: 39.71px;
    margin-left: 200px;
    background-color: #4F56F1;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border-radius: 6px;
}